[luna]
tripsalt = "changeme"
secret = "changeme"
boards = [
	"l",
	"u",
	"a",
	"s",
	"e",
	"x",
	"t",
	"v",
	"p",
	"txt",
	"all"
]
url = "changeme"
pagesize = 50

[threadgc]
enabled = false
lock_age = 604800
delete_age = 777600

[bcrypt]
rounds = 9

[database]
host = "localhost"
user = "luna"
password = "enter pass here"
database = "luna"

# ANSI 4-bit colors
[colors]
clist = [
	"#000",
	"#700",
	"#070",
	"#770",
	"#007",
	"#707",
	"#077",
	"#bbb", #special exception
	"#777",
	"#f00",
	"#0f0",
	"#ff0",
	"#00f",
	"#f0f",
	"#0ff",
	"#fff"
]

[boardinfo]
	[boardinfo.a]
	name = "Anime"
	desc = "Weebshit here"
	webtitle = "you are already dead"

	[boardinfo.l]
	name = "Random"
	desc = "Do you think god stays in heaven because he fears what he's created?"
	webtitle = "wtf is a poland"

	[boardinfo.u]
	name = "Creative"
	desc = "Not to be confused with danger/u/"
	webtitle = "Made by u!"

	[boardinfo.s]
	name = "Memes"
	desc = "Random and quirky XDD"
	webtitle = "God is dead and we killed him"

	[boardinfo.e]
	name = "Porn"
	desc = "I will literally fucking IP ban people who post CP"
	webtitle = "no more inflation i swear to god"

	[boardinfo.x]
	name = "Meta"
	desc = "Discuss Luna"
	webtitle = "It's shit."

	[boardinfo.t]
	name = "Tech and programming"
	desc = [
		"claymore roombas",
		"killer roombas",
		"install gentoo",
		"install arch",
		"install win2k",
		"install solaris",
		"install templeos"
	]
	webtitle = [
		"it's so sad steve jobs died of ligma",
		"remember when steve jobs died?",
		"year n+1 will be the year of the linux desktop!",
		"the african american government agents are bioluminescent",
		"rust is a shit language, t. lua dev",
		"absolutely ancient software"
	]

	[boardinfo.p]
	name = "Politics"
	desc = "Literally worse than furry porn."
	webtitle = "Serbia world superpower by 2030"

	[boardinfo.txt]
	name = "Text"
	desc = "There is only text"
	webtitle = "The only place safe from porn."
	noimg = true

	[boardinfo.v]
	name = "Video Games"
	desc = "The only place for vijya"
	webtitle = "bizon ace bizon ace"

	[boardinfo.r]
	name = "RETRO.BRD"
	desc = "ENTERING ELECTROSPHERE"
	webtitle = [
		"[dial up tones]",
		"kernel panic!",
		"out of inodes",
		"Abort, Retry, Fail?",
		"æ–‡å—åŒ–ã‘",
		"NTLDR is missing or corrupt"
	]
	thread_validate = "validators/83names.lua"

	[boardinfo.all]
	name = "All"
	desc = "I can see EVERYTHING"
	webtitle = "unleash the third eye"
