@font-face {
	font-family: "Unifont";
	src: url(/static/unifont.ttf);
}

* {
	font-family: 'Unifont', monospace;
	font-size: 16px;
	font-smooth: never;
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: none;
}

.glow {
	filter: url("/static/filter.svg#svgGlowS");
}

#container {
	width: 100%;
	height: 100vh;
}

.containerchild {
	text-align: left;
	vertical-align: top;
	overflow-y: auto;
	overflow-x: auto;

}

.sidebar {
	width: 20vw;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	line-height: 16px;
	scroll-snap-points-y: repeat(1px);
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

@keyframes lunaflicker {
    0% {
    	color: #FFF;
    }
    5% {
    	color: #FFF;
    }
    7% {
    	color: #777;
    }
    9% {
    	color: #FFF;
    }
    11% {
    	color: #777;
    }
    13% {
    	color: #FFF;
    }
    15% {
    	color: #777;
    }
    17% {
    	color: #FFF;
    }
    70% {
    	color: #FFF;
    }
    100% {
    	color: #AAA;
    }
}

.logo {
	font-size: 32px;
	margin-top: 8px;
	margin-bottom: 8px;
	text-shadow: none;
	filter: url("/static/filter.svg#svgGlow");
	animation: lunaflicker 8s linear 0s infinite;
}

.title {
	font-size: 32px;
	margin-top: 8px;
	margin-bottom: 8px;
}

select {
	appearance: none;
}

input, textarea, ::file-selector-button, select, option {
	resize: none;
	padding:0;
	margin:0;
	border-width: 0;
	font-family: 'Unifont';
	text-align: left;
}

::file-selector-button {
	border-right-width: 1px;
	border-right-color: black;
	padding-right: 4px;
	margin-right: 4px;
}

input, textarea {
	width: 100%;
}

.userdata {
	float: left;
	padding-right: 8px;
	display: inline-block;
}

.post-content {
	padding: 16px 0px;
}

.post-container {
	clear: both;
}

.userimg {
	max-width: 20vw;
	max-width: 20vh;
	width: auto;
  	height: auto;
}

.userimg:hover {
	max-width: 40vw;
	max-width: 40vh;
	width: auto;
  	height: auto;
}

textarea {
	font-size: 16px;
}

.contentcontainer {
	width: 100%;
	height: 100%;
}

.config {
	width: auto !important;
}

.contentsupercontainer {
	margin-left: 4px;
	padding-left: 4px;
	border-left-width: 1px;
}

.floatingsidebar {
	position: -webkit-sticky;
	position: sticky;
	top: 4px;
}
