body {
	background-color: $0;
	color: $7;
}

.quote {
	color: $5;
}

a {
	color: $7;
}

a:visited {
	color: $7;
}

.title {
	color: $f;
}

.selected {
	color: $0 !important; /* fuck off css */
	background-color: $7;
}

input, textarea {
	background-color: $7;
	color: $0;
}
