body {
	background-color: $0;
	color: $7;
}

.quote {
	color: $d !important;
}

a {
	color: $7;
}

a:visited {
	color: $7;
}

.title {
	color: $f;
}

.selected {
	color: $0 !important; /* fuck off css */
	background-color: $7;
}

input, textarea, ::file-selector-button, select, option {
	background-color: $7;
	color: $0;
}

.contentsupercontainer {
	border-left-color: $7;
	border-left-style: solid;
}

.locked, .allboard {
	color: $8 !important;
}

.marked {
	color: $1 !important;
}

.error {
	color: $9;
}

.success {
	color: $a;
}
